@import "tailwindcss";

:root {
  --color-electric-violet-50: #f7f3ff;
  --color-electric-violet-100: #f1e9fe;
  --color-electric-violet-200: #e5d6fe;
  --color-electric-violet-300: #d0b5fd;
  --color-electric-violet-400: #b48bfa;
  --color-electric-violet-500: #955cf6;
  --color-electric-violet-600: #7c3aed;
  --color-electric-violet-700: #6928d9;
  --color-electric-violet-800: #5821b6;
  --color-electric-violet-900: #491d95;
  --color-electric-violet-950: #2f1065;
}
